.header{
    height: 35%;
    width: 100vw;
    position: absolute;
    background-image: url(./../../imgs/pattern-bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
}
.container{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    transform: translateY(20%);
}
@media screen and (max-width: 600px){
    .header{
        justify-content: center;
    }
    

}